@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This bank was founded in the year 2020.This bank always wants to keep our customers valuable time,money and savings safe and secure.</p>
